<h1>Song</h1>
<%= form_for(@song) do |song| %>
  <%= song.label 'Name' %><br>
  <%= song.text_field :name %><br>
  <%= song.label 'Artist ID' %><br>
  <%= song.text_field :artist_id %><br>
  <%= song.label 'Genre ID' %><br>
  <%= song.text_field :genre_id %><br>
  <%= song.submit %>
<% end %>
